:root {
  --bg: #191816;
  --bg-form: #24221F;
  --text: #AFB6C2;
  --text-input: #A9AFB9;
}

#root {
  background: var(--bg);
  position: relative;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}